<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>ZVPHYBOBCHWMGFI0ISOCOUIWCQO3QA5AO4YB0R3XKXDKZNXR</string>
	<key>clientSecret</key>
	<string>KXCBONSBJ1JRVG5DSM5HE3IOL0SZMBUBFLUPNPSSH1ZMKNED</string>
</dict>
</plist>
